/*.app {
    background-color: lighten($main-color, 5%);
}*/

.content-container {
    margin: 0 auto;
    max-width: 70rem;
    padding: 0 $xl-size;
}

.sections-container {
    position: absolute;
    top: 13rem;
    min-width: 60%;
    margin: 0 20%;
    background-color: lighten($main-color, 10%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border-radius: 3%;

    @media (max-width: 850px) {
        margin: 0 15%;
        min-width: 70%;
    }

    @media (max-width: $desktop-breakpoint) {
        margin: 0 5%;
        min-width: 90%;
    }
}